.testimonials-container{
    max-width: 1200px !important;
    margin: 0 auto;
    padding: 50px 50px;
    align-items: center;
    height: 100%;
    min-height: 800px;
}
.testimonials-page-number{
    font-family: 'Saira ExtraCondensed';
    font-style: normal;
    font-weight: 400;
    font-size: 300px;
    line-height: 60px;
    display: flex;
    align-items: center;
    letter-spacing: -0.05em;
    color: #111518;
    margin-bottom: 40px;
}
.testimonials-page-title{
    margin-top: 90px !important;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 60px;
    line-height: 60px;
    color: #111518;
    margin-bottom: 24px !important;
}
.testimonials-page-text-info{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    color: #4D4D4D;
}

.testimonials-page-info-text{
    margin-bottom: 60px;
}
.testimonials-profile-info-container{
    margin-bottom: 60px;
}
.profiles-info{
    padding: 40px;
}
.profiles-info-container{
    border-right: 0.5px solid #4D4D4D;
}
.first-profile-container {
    border-left: 0.5px solid #4D4D4D;
}
.profile-name-text{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 33px;
    display: flex;
    align-items: center;
    color: #111518;
    margin-top: 30px;
}
.profile-position-info{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    align-items: center;
    color: #111518;
}
.company-name-info{
    margin-bottom: 30px;
    font-family: 'Roboto';
    font-style: italic;
    font-weight: 300;
    font-size: 24px;
    line-height: 28px;
    display: flex;
    align-items: center;
    color: #111518;
}

.profile-bio-info{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    color: #4D4D4D;
}

.second-profile-name-text{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 33px;
    display: flex;
    align-items: center;
    color: #111518;
}
.second-profile-position-info{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    align-items: center;
    color: #111518;
}
.second-company-name-info{
    margin-bottom: 30px;
    font-family: 'Roboto';
    font-style: italic;
    font-weight: 300;
    font-size: 24px;
    line-height: 28px;
    align-items: center;
    color: #111518;
}
.second-profile-bio-info{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    color: #4D4D4D;
    margin-bottom: 30px;
}

.third-profile-name-text{
    margin-top: 30px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 33px;
    display: flex;
    align-items: center;
    color: #111518;
}
.third-profile-position-info{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    align-items: center;
    color: #111518;
}
.third-company-name-info{
    margin-bottom: 30px;
    font-family: 'Roboto';
    font-style: italic;
    font-weight: 300;
    font-size: 24px;
    line-height: 28px;
    align-items: center;
    color: #111518;
}
.third-profile-bio-info{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    color: #4D4D4D;
}
.thojza{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 28px;
    color: #DF1B4A;
}

@media only screen and (max-width: 600px) {
    .testimonials-page-number{
        font-family: 'Saira ExtraCondensed';
        font-style: normal;
        font-weight: 400;
        font-size: 150px;
        line-height: 60px;
        display: flex;
        align-items: center;
        letter-spacing: -0.05em;
        color: #111518;
        margin-bottom: 25px;
    }
    .testimonials-page-title{
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 700;
        font-size: 30px;
        line-height: 30px;
        color: #111518;
        margin-top: 24px !important;
    }
    .line-container{
        margin-bottom: 10px; 
    }
    .profiles-img{
        /* width: 50%; */
    }
    .profiles-info{
        padding: 0px;
    }
    .profiles-info-container{
        border-right: 0 !important;
    }
    .first-profile-container {
        border-left: 0 !important;
    }
}