.footer-container {
  max-width: 1200px !important;
  margin: 0 auto;
  padding: 50px 50px;
  align-items: center;
  height: 100%;
}

.footer-line {
  width: 826.5px;
  height: 0px;
  left: 377.5px;
  top: 8773.71px;
  border: 1px solid #4d4d4d;
  color: red;
}

.page-name {
  color: #4d4d4d;
  width: 125.5px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 22px;
  text-align: end;
  margin-top: -10px !important;
  align-items: flex-end;
  letter-spacing: 0.35em;
}

.contact-help-text {
  width: 677px;
  height: 46px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  color: #ffffff;
}

.contact-us-btn {
  width: 92.8px;
  height: 24px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  display: flex;
  align-items: center;
  text-align: center;
}

.contact-us-btn-container {
  width: 200px;
  height: 38px;
  background: #DF1B4A;
  border-radius: 2px;
  margin-top: 20px;
  color: #ffffff;
}

.simply-works-text {
  height: 22px;
  width: 140px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 22px;
  letter-spacing: 0.35em;
  color: #7e7e7e;
  transform: rotate(-90deg);
  margin-top: 75px !important;
}

.talk-to-us {
  width: 149px;
  height: 120px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 60px;
  line-height: 60px;
  color: #ffffff;
}
.footer-container-div{
  background-color: #111111;
}

.reserved-paid-container{
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 140.62%;
  align-items: center;
  color: #7E7E7E;
  text-align: center;
  margin-top: 100px !important;
}



@media only screen and (max-width: 600px) {
  .simply-works-text{
    display: none;
    /* text-align: center; */
}
.talk-to-us{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 30px;
    height: 100%;
    color: #FFFFFF;
    margin-bottom: 24px;
}
.contact-help-text{
    margin-bottom: 40px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #FFFFFF;
}
.reserved-paid-container{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    padding:0 !important;
    font-size: 18px;
    line-height: 140.62%;
    /* display: flex; */
    align-items: center;
    color: #7E7E7E;
    text-align: center;
    margin-top: 70px !important;
}

}